.btn-md {
  padding: 0.7473684211rem 1rem;
}

.btn-light {
  color: $primary;

  &:hover {
    color: $primary;
  }
}

.btn-add {
  width: 100%;
  // display:block;
  // margin-bottom: 0.5rem;
}

@include media-breakpoint-up(sm) {
  .btn-add {
    width: 100px !important;
    min-width: 100px;
  }
}
